<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= content.body %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= content.content_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= content.status %>
  </p>

</div>
