<%= container do %>
  <p style="color: green"><%= notice %></p>
  <%= card class: "p-4" do %>
    <h1><%= @content.title %></h1>
    <p><%= @content.body %></p>
  <% end %>

  <div class="my-2">
    <%= link_to "Back to contents", contents_path %>
  </div>
<% end %>






