<% content_for :title, "Articles" %>

<%= render "components/layouts/subheader/subheader" do %>
  <%= link_to new_admin_article_path do %>
    <button class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>New Article</button>
  <% end %>
<% end %>

<div class='bg-zinc-200 p-4'>
  <%= container do %>
    <p class='text-green'><%= notice %></p>
    <%= card do %>
      <!-- Card Header -->
      <%= card_body class: 'overflow-auto' do %>
        <%= table do %>
          <tr>
            <%= th do %>Title<% end %>
            <%= th do %>Actions<% end %>
          </tr>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td>
                <%= link_to "Show", [:admin, article] %>
                <%= link_to "Edit", edit_admin_article_path(article) %>
                <%= button_to "Delete", [:admin, article], method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>




