<% content_for :title, "Show article" %>

<%= subheader do %>
  <%= link_to "< Back", admin_articles_path %>
<% end %>

<div class="bg-zinc-200 p4">
  <%= container do %>
    <%= render @article %>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>



<div>
  <%= link_to "Edit this article", edit_admin_article_path(@article) %> |
  <%= link_to "Back to articles", admin_articles_path %>

  <%= button_to "Destroy this article", [:admin, @article], method: :delete %>
</div>
