<p style="color: green"><%= notice %></p>

<%= render @content %>

<div>
  <%= link_to "Edit this content", edit_admin_content_path(@content) %> |
  <%= link_to "Back to contents", admin_contents_path %>

  <%= button_to "Destroy this content", [:admin, @content], method: :delete %>
</div>
